- name: Checkout Git Repository with Compose files
  ansible.builtin.git:
    repo: "{{ mariadb_repo_url }}"
    dest: "{{ compose_dest }}/mariadb"
    version: main
    update: yes
    force: yes

- name: Render MariaDB .env file from Vault
  ansible.builtin.template:
    src: "templates/mariadb.env.j2"
    dest: "{{ compose_dest }}/mariadb/.env"
    mode: '0600'

- name: Deploy MariaDB Stack
  community.docker.docker_compose_v2:
    project_name: "mariadb"
    project_src: "{{ compose_dest }}/mariadb"
    files:
      - mariadb-compose.yaml
    build: never
    state: absent
    recreate: auto
    env_files:
      - "{{ compose_dest }}/mariadb/.env"


- name: Remove temporary key directory
  become: true
  file:
    path: "{{ compose_dest }}/mariadb/.env"
    state: absent

