CF_DNS_API_TOKEN={{ cf_token }}
CROWDSEC_KEY={{ crowdsec_key }}
TRAEFIK_DASHBOARD_CREDENTIALS={{ traefik_basic_auth }}
TRAEFIK_DASHBOARD_HOST={{ traefik_dashboard_host }}
TRAEFIK_CERT_RESOLVER={{ traefik_cert_resolver }}
