GID={{ crowdsec_gid | default('1000') }}
UID={{ crowdsec_uid | default('1000') }}

CROWDSEC_TRAEFIK_KEY={{ crowdsec_traefik_key }}
CROWDSEC_FIREWALL_KEY={{ crowdsec_firewall_key }}

CROWDSEC_TELEGRAM_TOKEN={{ crowdsec_telegram_token }}
CROWDSEC_TELEGRAM_CHAT_ID={{ crowdsec_telegram_chat_id }}