# --- Domain & TLS ---
DOMAIN={{ domain }}
CERT_RESOLVER={{ cert_resolver }}

# --- Admin Panel ---
VAULTWARDEN_ADMIN_TOKEN={{ vaultwarden_admin_token }}

VW_DB_HOST={{ vaultwarden_db_host }}
VW_DB_NAME={{  vaultwarden_db_name }}
VW_DB_USER={{ vaultwarden_db_user }}
VW_DB_PASSWORD= {{ vaultwarden_db_password }}

# --- Signups ---
SIGNUPS_DOMAINS_WHITELIST={{ vaultwarden_signups_domains_whitelist }}

# --- Admin Access ---
DISABLE_ADMIN_TOKEN={{ vaultwarden_disable_admin_token }}   