DB_PASSWORD={{ db_password }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
SITES={{ site_name }}
ROUTER={{ frappe_router }}
BENCH_NETWORK={{ frappe_network }}
CUSTOM_IMAGE={{ image_name }}
ERPNEXT_VERSION={{ image_tag }}
CERT_RESOLVER={{ certificate_resolver }}
MIDDLEWARES={{ middlewares_to_load }}